.transparent {
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 60px;
}

.backgroundimg {
    background: url('../../../content/images/home-background.jpg') no-repeat;
    background-size: 100%;
    color: white;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}